@font-face {
    font-family: 'rock_saltregular';
    src: url('../fonts/RockSalt-webfont.woff2') format('woff2'),
         url('../fonts/RockSalt-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: rock_saltregular, 'Bradley Hand', cursive;
}